body {
    height: 100%;
    text-align: center;
    font-family: 'Poppins', sans-serif;
}


.bg-img {
    /* The image used */
    height: 40rem;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

/* Place text in the middle of the image */
.hero-text {
    text-align: center;
    font-size: 230%;
    position: absolute;
    margin-top: -13%;
    margin-left: 50%;
    /* color: white; */
}


h1 {
    font-family: 'Coiny', cursive;
    font-size: 54px;
}


hr {
    width: 20%;
    min-height: 4px;
    margin: auto;
    color: lightcoral;
    margin-bottom: 3px;
}

.card-text{
    text-align:justify;
}
.card-body {
    text-align:left;
}

section {
    min-height: 40rem;
    /*max-height: 40rem;*/
    
}

.section2, .section4, .section6 {
    /*background-color: lightpink;*/
    margin-top: 8rem;
   
}

.section2 h1 {
    color: lightcoral;
}

.section4 , .section6 {
    margin-bottom: -8rem;
}
.blog-image {
    height: 12rem;
    width: 12rem;
    margin-bottom: 15px;
}
h5 {
    font-family: 'Poppins', sans-serif;
    text-transform: capitalize;
    font-weight:bold;
}
